<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'marioTracker/congrats.css' %}">
    </head>

    <body>
        <canvas id="canvas"></canvas>
        <div class="overlay">
            <h1>Congratulations Champion!</h1>
            <h2>{{ winner.firstname }}</h2>
            <h3>Wins: {{ wins|length }}</h3>
            <a href="{% url 'marioTracker:index' %}">Home</a>
        </div>


        <script type="text/javascript" src="{% static 'marioTracker/js/fireworks.js' %}"></script>
    </body>
</html>