{% extends 'marioTracker/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'marioTracker/index.css' %}">
{% endblock %}

{% block header %}
    <header class = "header">
        <nav class = "navbar">
            <ul class= "nav-links">
                {% for link, urlParam in zipped_List %}
                    <div class="tinyCloud">
                        <div class="tinyBump"></div>
                        <div class="tinyBump"></div>
                        <div class="tinyBump"></div>
                        <div class="tinyBump"></div>
                        <div class="tinyBump"></div>
                        <div class="tinyBump"></div>
                        <li class="nav-item"><a href="{% url urlParam %}"><b>{{ link }}</b></a></li>
                    </div>
                {% endfor %}
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class ="heroSection">
        <div class="cloud">
            <div class="largerBumps">
            </div>
            <div class="largerBumps">
            </div>
            <div class="largerBumps">
            </div>
            <div class="largerBumps">
            </div>
            <div class="largerBumps">
            </div>
            <div class="largerBumps">
            </div>
            <div class="cloudText">
                Map Randomizer
            </div>
        </div>
        <div class="button">
            <span>Start</span>
        </div>
        <div class="city">
            <div class="buildings">
                <div class="tallBuilding">
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                </div>
                <div class="mediumBuilding">
                    <div class="glassMedium"></div>
                    <div class="glassMedium"></div>
                    <div class="glassMedium"></div>
                </div>
                <div class="tallBuilding">
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                </div>
                <div class="trafficLight">
                    <div class="body">
                        <div class="light"></div>
                        <div class="light"></div>
                        <div class="light"></div>
                    </div>
                    <div class="pole"></div>
                </div>
                <div class="mediumBuilding">
                    <div class="glassMedium"></div>
                    <div class="glassMedium"></div>
                    <div class="glassMedium"></div>
                </div>
                <div class="tallBuilding">
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                </div>
            </div>
            <div class="kart1">
                <img src="{% static 'marioTracker/images/lui2.png' %}">
                <div class="gas">
                    <div class="circles"></div>
                </div>
            </div>
            <div class="street"></div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'marioTracker/js/sprite.js' %}"></script>

{% endblock %}