{% extends 'marioTracker/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'marioTracker/index.css' %}">
{% endblock %}

{% block content %}
    <div class ="heroSection">
        <div id="stars">
        </div>
        <div class="clouds">
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud">
                <div class="cloudText">
                    Map <br>Randomizer
                </div>
            </div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class="buttonArea">
            <button class="button" id="startButton">
                <a href="{% url 'marioTracker:timeframe_view' %}" id="startLink">START</a>
            </button>
        </div>
        <div class="city">
            <div class="buildings">
                <div class="tallBuilding">
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                </div>
                <div class="mediumBuilding">
                    <div class="glassMedium"></div>
                    <div class="glassMedium"></div>
                </div>
                <div class="tallBuilding">
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                </div>
                <div class="trafficLight">
                    <div class="body">
                        <div class="light"></div>
                        <div class="light"></div>
                        <div class="light"></div>
                    </div>
                    <div class="pole"></div>
                </div>
                <div class="mediumBuilding">
                    <div class="glassMedium"></div>
                    <div class="glassMedium"></div>
                </div>
                <div class="tallBuilding">
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                    <div class="glassTall"></div>
                </div>
            </div>
            <div class="kart1" id="kart1">
                <img src="{% static 'marioTracker/images/lui2.png' %}">
                <div class="gas">
                    <div class="circles"></div>
                </div>
            </div>
            <div class="street"></div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'marioTracker/js/star.js' %}"></script>
    <script type="text/javascript" src="{% static 'marioTracker/js/buildingAnimation.js' %}"></script>
    <script type="text/javascript" src="{% static 'marioTracker/js/kart.js' %}"></script>

{% endblock %}