{% extends 'marioTracker/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'marioTracker/index.css' %}">
{% endblock %}

{% block header %}
    <header class = "header">
        <h1>Title</h1>
        <nav class = "navbar">
            <ul class= "nav-links">
                {% for link, urlParam in zipped_List %}
                    <li class="nav-item"><a href="{% url urlParam %}"><b>{{ link }}</b></a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="cloud">
        <div class="bumps"></div>
        <div class="bumps"></div>
        <div class="bumps"></div>
    </div>
{% endblock %}