<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'marioTracker/mapGen.css' %}">
        <link rel="stylesheet" href="{% static 'marioTracker/dropDown.css' %}">
    </head>
    <body>
        <div id="slideshow-container">

            <div class = "mySlides fade">
                <div class="numbertext moveR"> 1 / {{ mapTexts|length }}</div>
                <picture>
                    <source media="(max-width:465px)" srcset="{% static 'marioTracker/images/'|add:mapChoices.0 %}">
                    <source media="(max-width:2000px)" srcset="{% static 'marioTracker/images/wide'|add:mapChoices.0 %}">
                    <img src="{% static 'marioTracker/images/'|add:mapChoices.0 %}" alt="{{ 0 }}">
                </picture>
                {% if mapTexts %}
                    <div class="text moveL"> {{ mapTexts.0 }}</div>
                {% else %}
                    <div class="text moveL"> No Map Text</div>
                {% endif %}
            </div>

            <div class = "mySlides fade">
                <div class="numbertext moveR"> 1 / {{ mapTexts|length }}</div>
                <picture>
                    <source media="(max-width:465px)" srcset="{% static 'marioTracker/images/'|add:mapChoices.1 %}">
                    <source media="(max-width:2000px)" srcset="{% static 'marioTracker/images/wide'|add:mapChoices.1 %}">
                    <img src="{% static 'marioTracker/images/'|add:mapChoices.1 %}" alt="{{ 0 }}">
                </picture>
                {% if mapTexts %}
                    <div class="text moveL"> {{ mapTexts.1 }}</div>
                {% else %}
                    <div class="text moveL"> No Map Text</div>
                {% endif %}
            </div>

            <div class = "mySlides fade">
                <div class="numbertext moveR"> 1 / {{ mapTexts|length }}</div>
                <picture>
                    <source media="(max-width:465px)" srcset="{% static 'marioTracker/images/'|add:mapChoices.2 %}">
                    <source media="(max-width:2000px)" srcset="{% static 'marioTracker/images/wide'|add:mapChoices.2 %}">
                    <img src="{% static 'marioTracker/images/'|add:mapChoices.2 %}" alt="{{ 0 }}">
                </picture>
                {% if mapTexts %}
                    <div class="text moveL"> {{ mapTexts.2 }}</div>
                {% else %}
                    <div class="text moveL"> No Map Text</div>
                {% endif %}
            </div>

            <div class = "mySlides fade">
                <div class="numbertext moveR"> 1 / {{ mapTexts|length }}</div>
                <picture>
                    <source media="(max-width:465px)" srcset="{% static 'marioTracker/images/'|add:mapChoices.3 %}">
                    <source media="(max-width:2000px)" srcset="{% static 'marioTracker/images/wide'|add:mapChoices.3 %}">
                    <img src="{% static 'marioTracker/images/'|add:mapChoices.3 %}" alt="{{ 0 }}">
                </picture>
                {% if mapTexts %}
                    <div class="text moveL"> {{ mapTexts.3 }}</div>
                {% else %}
                    <div class="text moveL"> No Map Text</div>
                {% endif %}
            </div>

            <div class = "mySlides fade">
                <div class="numbertext moveR"> 1 / {{ mapTexts|length }}</div>
                <picture>
                    <source media="(max-width:465px)" srcset="{% static 'marioTracker/images/'|add:mapChoices.4 %}">
                    <source media="(max-width:2000px)" srcset="{% static 'marioTracker/images/wide'|add:mapChoices.4 %}">
                    <img src="{% static 'marioTracker/images/'|add:mapChoices.4 %}" alt="{{ 0 }}">
                </picture>
                {% if mapTexts %}
                    <div class="text moveL"> {{ mapTexts.4 }}</div>
                {% else %}
                    <div class="text moveL"> No Map Text</div>
                {% endif %}
            </div>

            <div class = "mySlides fade">
                <div class="numbertext moveR"> 1 / {{ mapTexts|length }}</div>
                <picture>
                    <source media="(max-width:465px)" srcset="{% static 'marioTracker/images/'|add:mapChoices.5 %}">
                    <source media="(max-width:2000px)" srcset="{% static 'marioTracker/images/wide'|add:mapChoices.5 %}">
                    <img src="{% static 'marioTracker/images/'|add:mapChoices.5 %}" alt="{{ 0 }}">
                </picture>
                {% if mapTexts %}
                    <div class="text moveL"> {{ mapTexts.5 }}</div>
                {% else %}
                    <div class="text moveL"> No Map Text</div>
                {% endif %}
            </div>

            <div class = "mySlides fade">
                <div class="numbertext moveR"> 1 / {{ mapTexts|length }}</div>
                <picture>
                    <source media="(max-width:465px)" srcset="{% static 'marioTracker/images/'|add:mapChoices.6 %}">
                    <source media="(max-width:2000px)" srcset="{% static 'marioTracker/images/wide'|add:mapChoices.6 %}">
                    <img src="{% static 'marioTracker/images/'|add:mapChoices.6 %}" alt="{{ 0 }}">
                </picture>
                {% if mapTexts %}
                    <div class="text moveL"> {{ mapTexts.6 }}</div>
                {% else %}
                    <div class="text moveL"> No Map Text</div>
                {% endif %}
            </div>

            <div class = "mySlides fade">
                <div class="numbertext moveR"> 8 / {{ mapTexts|length }}</div>
                <picture>
                    <source media="(max-width:465px)" srcset="{% static 'marioTracker/images/'|add:mapChoices.7 %}">
                    <source media="(max-width:2000px)" srcset="{% static 'marioTracker/images/wide'|add:mapChoices.7 %}">
                    <img src="{% static 'marioTracker/images/'|add:mapChoices.7 %}" alt="{{ 0 }}">
                </picture>
                {% if mapTexts %}
                    <div class="text moveL"> {{ mapTexts.7 }}</div>
                {% else %}
                    <div class="text moveL"> No Map Text</div>
                {% endif %}
            </div>

            <div class = "mySlides fade">
                <div class="numbertext moveR"> 9 / {{ mapTexts|length }}</div>
                <picture>
                    <source media="(max-width:465px)" srcset="{% static 'marioTracker/images/'|add:mapChoices.8 %}">
                    <source media="(max-width:2000px)" srcset="{% static 'marioTracker/images/wide'|add:mapChoices.8 %}">
                    <img src="{% static 'marioTracker/images/'|add:mapChoices.8 %}" alt="{{ 0 }}">
                </picture>
                {% if mapTexts %}
                    <div class="text moveL"> {{ mapTexts.8 }}</div>
                {% else %}
                    <div class="text moveL"> No Map Text</div>
                {% endif %}
            </div>

            <div class = "mySlides fade">
                <div class="numbertext moveR"> 9 / {{ mapTexts|length }}</div>
                <picture>
                    <source media="(max-width:465px)" srcset="{% static 'marioTracker/images/'|add:mapChoices.9 %}">
                    <source media="(max-width:2000px)" srcset="{% static 'marioTracker/images/wide'|add:mapChoices.9 %}">
                    <img src="{% static 'marioTracker/images/'|add:mapChoices.9 %}" alt="{{ 0 }}">
                </picture>
                {% if mapTexts %}
                    <div class="text moveL"> {{ mapTexts.9 }}</div>
                {% else %}
                    <div class="text moveL"> No Map Text</div>
                {% endif %}
            </div>
            
            <a class="next" onmouseover="mouseOver(this, 'Next')" onmouseout="mouseOver(this, '&#10095;')" onclick="plusSlides(1)">&#10095;</a>
            <a class="skip" onmouseover="mouseOver(this, 'Skip')" onmouseout="mouseOut(this, 'X')" onclick="skipSlides(1)">X</a>
            <button id="finish" onmouseover="mouseOver(this, 'Finish')" onmouseout="mouseOver(this, 'Finish')">Finish</button>
        </div>
        <div id="winner-container">
            <h1 id="title">Race Participants:</h1>
            <form method="post" action="{% url 'marioTracker:displayView' %}">
                {% csrf_token %}
                <div class="button-container">
                    <div class="quadrant">
                        {% for player in selectedPlayers|slice:"0:2" %}
                            <button type="submit" class="contestant" name="winner" value="{{ player.id }}">
                                {{ player.firstname }}
                            </button>
                        {% endfor %}
                    </div>

                    <div class="quadrant">
                        {% for player in selectedPlayers|slice:"2:4" %}
                            <button type="submit" class="contestant" name="winner" value="{{ player.id }}">
                                {{ player.firstname }}
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </form>
        
        <!--
            <div class="dropdown">
                <button class="dropdown-toggle">Select an Option</button>
                <ul class="dropdown-menu">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                </ul>
            </div>
        -->
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="{% static 'marioTracker/js/map.js' %}"></script>
        <script type="text/javascript" src="{% static 'marioTracker/js/chgText.js' %}"></script>
        <script type="text/javascript" src="{% static 'marioTracker/js/winner.js' %}"></script>
        <script type="text/javascript" src="{% static 'marioTracker/js/form.js' %}"></script>
        <script type="text/javascript" src="{% static 'marioTracker/js/dropDown.js' %}"></script>
    </body>
</html>