{% extends 'marioTracker/base.html' %}

{% load static %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'marioTracker/statOrMap.css' %}">
    {% endblock %}

{% block content %}

    <div id="cardsSpace">
        <div class="card" id="racing">
            <h3>Check Stats</h3>
            <button id="stat" class="choice">STATS</button>
        </div>
        <div class="card" id="stats">
            <h3>Ready To Race</h3>
            <button id="race" class="choice">RACE
            </button>
        </div>

        <div id="statBackground">

            <!-- filtered_wins_template.html -->
            <form id="winRecordForm" method="post">
                {% csrf_token %}
                {{ win_record_form.as_p }}
                <button type="submit" name="win_record_submit">Record Win</button>
            </form>

            <div class="records">
                <ul>
                    {% for win in wins %}
                        <li>{{ win }}</li>
                        <!-- Display other win details as needed -->
                    {% empty %}
                        <li>No wins found.</li>
                    {% endfor %}
                </ul>
            </div>
            <button id="statReturn">
                Return
            </button>
        </div>

        <div id="raceBackground">

            <div class="selectPlayer">
                <form id="selectPlayerForm" method="post" action="{% url 'marioTracker:statsOrMap' %}">
                    <select class="selectPlayerMultiple" name="selectedPlayers" multiple="multiple">
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                    </select>
                </form>
            </div>

            <div class="new-player-section">
                <h2>Create a New Player</h2>
                <form id="playerCreateForm" method="post">
                    {% csrf_token %}
                    {{ player_creation_form.as_p }}
                    <button type="submit" name="player_creation_submit">Create Player</button>
                </form>
            </div>
            
            <button id="playerReturn">
                Return
            </button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static 'marioTracker/js/button.js' %}"></script>
    <script type="text/javascript" src="{% static 'marioTracker/js/form.js' %}"></script>



{% endblock %}