{% extends 'marioTracker/base.html' %}

{% load static %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'marioTracker/statOrMap.css' %}">
    {% endblock %}

{% block content %}

    <div id="cardsSpace">
        <div class="card" id="racing">
            <h3>Check Stats</h3>
            <button id="stat" class="choice">STATS</button>
        </div>
        <div class="card" id="stats">
            <h3>Ready To Race</h3>
            <button id="race" class="choice">RACE
            </button>
        </div>

        <div id="statBackground">

            <!-- filtered_wins_template.html -->
            <form id="winRecordForm" method="post">
                {% csrf_token %}
                <div id="formRow">
                {{ win_record_form.as_p }}
                </div>
                <button id="statFormButton" type="submit" name="win_record_submit">Submit</button>
            </form>

            <div id="records">
                <ul>
                    {% for win in wins %}
                        <li>{{ win }}</li>
                        <!-- Display other win details as needed -->
                    {% empty %}
                        <li>No wins found.</li>
                    {% endfor %}
                </ul>
            </div>
            <button id="statReturn">
                &lt;
            </button>
        </div>

        <div id="raceBackground">

            <div class="selectPlayer">
                <h2>Select Player</h2>
                <form id="selectPlayerForm" method="post" action="{% url 'marioTracker:map' %}">
                    {% csrf_token %}
                    <select class="selectPlayerMultiple" name="selectedPlayers" multiple="multiple">
    
                        {% for player in players %}
                            <option value="{{player.id}}">{{ player.firstname}} {{ player.lastname }}</option>
                        {% endfor %}
                    </select>

                    <button class="ExistButton" type="submit" name="player_select_submit">Ready!</button>
                </form>
            </div>

            <div id="orDivider">
                <div class="line"></div>
                <h1>OR</h1>
                <div class="line"></div>
            </div>

            <div class="new-player-section">
                <h2>Create a New Player</h2>
                <form id="playerCreateForm" method="post">
                    {% csrf_token %}
                    {{ player_creation_form.as_p }}
                    <button class="ExistButton" type="submit" name="player_creation_submit">Create</button>
                </form>
            </div>
            
            <button id="playerReturn">
                &lt;
            </button>
        </div>

    </div>
    <script>
        var statsOrMapUrl = '{% url "marioTracker:statsOrMap" %}';
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static 'marioTracker/js/button.js' %}"></script>
    <script type="text/javascript" src="{% static 'marioTracker/js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'marioTracker/js/stats.js' %}"></script>



{% endblock %}