{% extends 'marioTracker/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'marioTracker/statOrMap.css' %}">
{% endblock %}

{% block content %}

    <div id="cardsSpace">
        <div class="card" id="racing">
            <tag><h3>Check Stats</h3></tag>
            <button id="stat" class="choice">Ready</button>
        </div>
        <div class="card" id="stats">
            <tag><h3>Ready To Race</h3></tag>
            <button id="race" class="choice">Ready</button>
        </div>

        <div id="statBackground">

            <!-- filtered_wins_template.html -->
            <form id="winRecordForm" method="post">
                {% csrf_token %}
                {{ win_record_form.as_p }}
                <button type="submit" name="win_record_submit">Record Win</button>
            </form>

            <div class="records">
                <ul>
                    {% for win in wins %}
                        <li>{{ win }}</li>
                        <!-- Display other win details as needed -->
                    {% empty %}
                        <li>No wins found.</li>
                    {% endfor %}
                </ul>
            </div>
            <button id="statReturn">
                Return
            </button>
        </div>

        <div id="raceBackground">
            <form id="playerSelectForm" method="post">
                {% csrf_token %}
                {{ player_select_form.as_p }}
                <button type="submit" name="player_select_submit">Select Players</button>
            </form>

            <div class="new-player-section">
                <h2>Create a New Player</h2>
                <form id="playerCreateForm" method="post">
                    {% csrf_token %}
                    {{ player_creation_form.as_p }}
                    <button type="submit" name="player_creation_submit">Create Player</button>
                </form>
            </div>
            
            <button id="playerReturn">
                Return
            </button>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'marioTracker/js/button.js' %}"></script>
{% endblock %}