* {
    box-sizing: border-box;
}

#body {
   background-image: linear-gradient(black 15%, #060b18 40%, #080F21 50%);
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.heroSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#stars {
    height: 25%;
    width: 100%;
    outline: white dotted 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staticStar {
    height: 1px;
    width: 1px;
    background-color: azure;
    border-radius: 50%;
}

.growingStar {
    position: relative;
    height: 1px;
    width: 1px;
    background-color: azure;
    border-radius: 50%;
    animation: growStar 3s ease-in-out infinite;
}

.dynamicStar {
    height: 1px;
    width: 1px;
    background-color: azure;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.trail {
    background-color: azure;
    height: 1px;
    width: 1px;
    position: absolute;
}

.clouds {
    height: 25%;
    width: 100%;
    outline: gray dotted 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cloud {
    height: 125px;
    width: 450px;
    background-color: #AEB7B3;
    border-radius: 200px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotateCloud 10s infinite;
}

.cloud:before, .cloud:after {
    content: '';
	position: absolute; 
	background: #AEB7B3;
	width: 250px; 
    height: 210px;
    top: -50px; 
    left: 30px;
	
	border-radius: 50%;
    transform: rotate(-10deg);
    z-index: -1;
}

.cloud::after {
    border-radius: 50%;
    width: 225px;
    height: 205px;
    right: 25px;
    left: auto;
    top: -65px;
}

.x2 {
    position: absolute;
    z-index: -1;
    transform: scale(0.40);
    left: 10px;
    top: 30%;
    opacity: 0.6;
    animation: moveCloud 40s linear infinite forwards;
}

.x3 {
    position: absolute;
    transform: scale(0.40);
    right: 10px;
    top: 35%;
    opacity: 0.65;
    animation: moveCloud2 33s linear infinite forwards;
}

.x4 {
    position: absolute;
    transform: scale(0.40);
    right: 10px;
    top: 22%;
    opacity: 0.2;
    animation: moveCloud2 53s linear infinite forwards;
}

.x5 {
    position: absolute;
    transform: scale(0.40);
    left: 10px;
    top: 24%;
    opacity: 0.4;
    animation: moveCloud 47s linear infinite forwards;
    z-index: -1;
}

.cloudText {
    position: relative;
    font-size: 45px;
    font-family: Comic sans ms;
    font-weight: bold;
    color: black;
    text-align: center;
    z-index: 2;
}

.buttonArea {
    height: 10%;
    width: 100%;
    outline: green dotted 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    display: flex;
}

.button {
    width: 30%;
    max-width: 150px;
    height: 60%;
    max-height: 200px;
    border-radius: 12%;
    box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.712), 0 6px 15px rgba(17, 16, 16, 0.788);
    background-color: #AEB7B3;
    font-size: 20px;
    font-weight: bold;
    font-family: Comic sans ms;
}

.button:hover {
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    background-color: #AEB7B3;
    box-shadow: 0 4px 8px 0 rgba(190, 188, 188, 0.712), 0 6px 15px rgba(17, 16, 16, 0.788);
    font-weight: bolder;
}

.button a {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: rgb(19, 19, 19);;
}

.city {
    height: 40%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.buildings {
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
    top: 0%;
    justify-content: space-around;
    align-items: flex-end;
}

.tallBuilding {
    position: relative;
    height: 100%;
    width: 10%;
    background-color: #01050f;
    outline: rgb(0, 0, 0) solid 1px;
}

.glassTall {
    height: 10%;
    width: 20%;
    outline: rgb(0, 0, 0) solid 1px;
    position: absolute;
    animation: windowAnimation infinite;
    background-color: #020309;
}

.glassTall:nth-child(1) {
    left: 15%;
    top: 10%;
}

.glassTall:nth-child(2) {
    right: 15%;
    top: 10%;
}

.glassTall:nth-child(3) {
    left: 15%;
    top: 30%;
}

.glassTall:nth-child(4) {
    right: 15%;
    top: 30%;
}

.glassTall:nth-child(5) {
    left: 15%;
    top: 50%;
}

.glassTall:nth-child(6) {
    right: 15%;
    top: 50%;
}

.glassTall:nth-child(7) {
    left: 15%;
    top: 70%;
}

.glassTall:nth-child(8) {
    right: 15%;
    top: 70%;
}

.mediumBuilding {
    height: 70%;
    width: 15%;
    background-color: #01050f;
    outline: rgb(0, 0, 0) solid 1px;
    position: relative;
}

.glassMedium {
    height: 20%;
    width: 70%;
    outline: rgb(0, 0, 0) solid 1px;
    position: absolute;
    background-color: #020309;
}

.glassMedium:nth-child(1) {
    left: 15%;
    top: 20%;
    width: 70%;
}

.glassMedium:nth-child(2) {
    width: 70%;
    bottom: 20%;
    left: 15%;
}

.kart1 {
    height: 131px;
    width: 169px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    animation: kartDriving 2s ease-out, kartRunning 0.5s 3s infinite;
    display: flex;
    justify-content: center;
}

.kart1 img {
    background-size:contain;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.gas {
    height: 20%;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 5%;
    left: 0;
    border-radius: 50%;
    display: flex;
    animation: gasMovement 2s ease-out 0.5s infinite;
}

.circles {
    position: absolute;
    height: 40%;
    aspect-ratio: 1/0.9;
    background-color: rgb(160, 160, 160);
    border-radius: 50%;
    animation: exhaust 2s 0.5s infinite;
}

.circles:nth-child(1){
    box-shadow: 2px 2px 3px 3px rgb(160, 160, 160);
}

.trafficLight {
    width: 40px;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pole {
    background-color: #242424;
    width: 25%;
    height: 30%;
    position: relative;
}

.trafficLight .body {
    height: 70%;
    width: 100%;
    background-color: #02040a;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.light {
    border-radius: 50%;
    height: 33%;
    aspect-ratio: 1/1;
    background-color: green;
    animation: lightGreen 0.5s forwards;
}

.light:nth-child(2) {
    background-color: rgb(43, 43, 0);
    top: 33%;
    animation: lightYellow 1s 0.5s;
}

.light:nth-child(3) {
    background-color: rgb(39, 1, 1);
    bottom: 0%;
    animation: lightRed 1s 1.5s forwards;
}

.street {
    width: 100%;
    height: 10%;
    background-color: rgb(17, 17, 17);
    bottom: 0%;
    position: absolute;
}

@keyframes kartRunning {
    0%, 100% {
        transform: translate(0);
    }
    50% {
        transform: translateY(-1px);
    }
}

@keyframes kartDriving {
    0% {
        transform: translateX(-50vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes exhaust {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

@keyframes gasMovement {
    10% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(-150%);
    }
}

@keyframes lightRed {
    to {
        background-color: red;
    }
}

@keyframes lightYellow {
    to {
        background-color: yellow;
    }
}

@keyframes lightGreen {
    to {
        background-color: rgb(0, 39, 0);
    }
}

@keyframes growStar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes windowAnimation {
    5% {
        background-color: #020309;
    }
    65% {
        background-color: #020309;
    }
    70% {
        background-color: rgb(201, 201, 115);
    }
    95% {
        background-color: rgb(201, 201, 115);
    }
    100% {
        background-color: #020309;
    }
}

@keyframes moveCloud {
    from {
        transform: scale(0.4) translateX(250vw);
    }
    to {
        transform: scale(0.4) translateX(-100vw);
    }
}

@keyframes moveCloud2 {
    from {
        transform: scale(0.4) translateX(-250vw);
    }
    to {
        transform: scale(0.4) translateX(100vw);
    }
}

@keyframes rotateCloud {
    33%{
        transform: rotate(1deg) scale(1.05);
    }
    66%{
        transform: rotate(-1deg) scale(0.95);
    }
}