html, body {
    box-sizing: border-box;
    background-color: #000a21;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
/* slideshow */

#slideshow-container {
    max-width: 100%;
    height: 90%;
    position: relative;
    top: 5%;
    overflow: hidden;
}

#winner-container {
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#title {
    color: aliceblue;
    text-align: center;
}

form {
    height: 50vh;
    width: 100%;
}

.mySlides {
    display: none;
    height: 100%;
}

.mySlides picture {
    max-width: 100%;
}

.mySlides img {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 90%;
    margin: 0 5%;
    border-radius: 12px;
}

.next, .skip, #finish {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #ece5e5;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next, #finish {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#finish {
    display: none;
}

.skip:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    position: absolute;
    bottom: 8px;
}

.numbertext {
    position: absolute;
    top: 0;
}

.text, .numbertext {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    color: aliceblue;
    padding: 8px 12px;
    opacity: 1;
}

@media screen and (max-width: 465px){
    .text, .numbertext {
        font-size: 15px;
    }
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

.moveR {
    animation-name: moveR;
    animation-duration: 4s;
}

.moveL {
    animation-name: moveL;
    animation-duration: 6s;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.contestant {
    padding: 16px 64px;
    border-radius: 5px;
}

.quadrant {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes moveR {
    from {transform: translateX(-100%);
          opacity: 0;}
    to {transform: translateX(0);
        opacity: 1;}
}

@keyframes moveL {
    from {transform: translateX(100%);
          opacity: 0;}
    to {transform: translateX(0);
        opacity: 1;}
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}




