body{
    overflow: hidden;
    background-color: #000a21;
}

#cardsSpace {
    position: relative;
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
}

.card {
    background-color: rgb(193, 193, 193);
    height: 100%;
    width: 33%;
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cardOneAnimation {
    animation: cardOneAnimation 3s forwards;
}

.cardOneAnimation2 {
    animation: cardOneAnimation2 3s forwards;
}

.cardTwoAnimation {
    animation: cardTwoAnimation 3s forwards;
}

.cardTwoAnimation2 {
    animation: cardTwoAnimation2 3s forwards;
}

h3 {
    position: relative;
    width: 80%;
    height: 33%;
    background-color: #000a21;
    border-radius: 5px;
    display: flex;
    flex-grow: column;
    align-items: center;
    justify-content: center;
    color: rgb(193, 193, 193);
    font-size: 2.5em;
}

.choice {
    position: relative;
    height: auto;
    padding: 15px 32px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(11, 11, 11, 0.712), 0 6px 7px rgba(10, 10, 10, 0.788);
    background-color: rgb(193, 193, 193);
    font-size: 1em;
}

.choice:hover {
    transform: scale(1.1);
    background-color:#000a21;
    color: aliceblue;
    outline: aliceblue solid 1px;
}
/* This is stat styling */
#raceBackground {
    position: relative;
    width: 70%;
    height: 100%;
    outline: black dotted 1px;
    background-color: rgb(208, 244, 246);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#playerSelectForm {
    width: 80%;
    height: 30%;
    display: none;
    align-items: center;
    justify-content: space-around;
}

span .select2 {
    width: 50px;
}

.selection {
    width: 100%;
}

#statBackground{
    position: relative;
    width: 70%;
    height: 100%;
    outline: black dotted 1px;
    background-color: rgb(208, 244, 246);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.statAnimated {
    animation: statSpaceAnimation 2s;
}

.statAnimated2 {
    animation: statSpaceAnimation2 2s;
}

.horizontal-form {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.horizontal-form .form-field {
    margin-right: 10px; /* Add space between fields */
}

.statSubmit {
    width: 15%;
    border-radius: 5px;
}

.records {
    width: 100%;
    height: 80%;
}

.statReturn {
    height: 5%;
    width: auto;
    border-radius: 5px;
    color: #000a21;
}

/* Adjust the margins and other styles as needed */
@keyframes statSpaceAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}

@keyframes statSpaceAnimation2 {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes cardOneAnimation {
    0%{
        transform: translateX(75vw);
        opacity: 0;
    }
    50% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes cardOneAnimation2 {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(75vw);
        opacity: 0;
    }
}

@keyframes cardTwoAnimation {
    0% {
        transform: translateX(-75vw);
        opacity: 0;
    }
    50% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes cardTwoAnimation2 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-75vw);
        opacity: 0;
    }
}